@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
body{
  
    font-family:Arial, Helvetica, sans-serif
  }
  
  .para,
  .small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
  }
  
  .small-para {
    font-size: 14px;
    font-weight: 800;
  }
  
  .para {
    font-size: 22px;
  }
  
  .confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 
  
  .button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }
  
  div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
  }
  .div1{
    background-color: pink;
    border: 2px solid red; 
    margin:32px; 
    padding: 12px;
  }
  .div2{
    background-color: blue;
    border:2px solid yellow; 
    margin: 0 0 48px 0; 
  }
  .div3{
    background-color: brown;
    margin-left: auto;
  }
  .container{
    width: 50%; 
    background-color: pink;
    padding:8px;
  }
  .title{
    background-color: blue;
    padding: 8px;
    font-size:16px; 
    margin: 8px; 
  }
  .content-area{
    background-color: blue;
    padding:16px 8px 16px 8px;
    margin:8px; 
    
  }
  .footer{
    background-color: blue;
    padding:8px; 
    text-align: center;
    margin: 8px; 
  }
  .big-button{
    text-align: center;
    font-size:24px;
    padding: 8px 24px 8px 24px; 
  }
  .flex-container{
    background-color: blue;
    display:flex; 
    justify-content:center;
    width: 50%;
    margin-left: 25%;
    height: 200px;
    align-items: center;
  }
  .flex-item{
 
    width:50%;
    height: 50%;
    background-color: brown;
    align-items:center
  }
  .header{
    display: flex;
    background-color: peachpuff;
    padding:8px; 
    align-items:center;
    justify-content: space-between;
  }
  .header ul{
    display: flex;
    margin:0; 
    padding: 0; 
    gap:10px;
    list-style-type: none;
  }
  .header .logo{
    background-color: white;
    color:red; 
    font-size: 38px;
    font-weight: 900;
    padding: 8px 32px; 

  }
  .header li{
    margin:25px; 
  }
  .header-2{
    background-color:aquamarine; 
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding:8px;

  }
  .left, .right{
    display: flex;
    padding: 8px;
    gap:16px;
    align-items: center;
  }
  .links{
    display: flex;
    gap:16px;
    color:rebeccapurple;
    align-items: center;
  }
  .header-2 .links a{
    text-decoration: none;
    color:rebeccapurple;
  }
.left > ul{
  list-style-type: none;
}
.logo{
  font-size:38px;
  color:rebeccapurple;
  font-weight: 900;
  font-style: italic;
}
.right button{
  border-radius: 18px;
  background-color: rebeccapurple;
  color:white;
  border:none;
  padding: 8px 24px; 
}
.circle{
  border-radius: 50%;
  background-color: rebeccapurple;
  width:32px; 
  height: 32px;
}
